<h1>To Do</h1>

<Form>
Task: <input type="text" name="task"><br>
<button>Create</button>
</Form>

<div id="list">
<!--   <%@tasks.each do |task| %>
    <li id="<%=task.id%>" <%=task.done ? "class=strikethrough" :nil %> >
    <%=task.task%>
    <input type="checkbox" <%=task.done ? "checked=true" : nil %> >
    <button class="delete">x</button>
    </li>
  <%end%> -->
</div>

